.online {
    color: $online-color;
}

.offline {
    color: $offline-color;
}

#search {
    font-size: 1em;
    text-align: center;

    @media (max-width: $medium-width-screens) {
        font-size: .9em;
    }
}

.status {
    color: $status-color;
    font-size: .85em;
    line-height: 1.5;
}
.result {
    a {
        color: $link-color;
        &:hover {
            cursor: pointer;
            color: $link-color-hover;
        }
    }
}
